<form action="/contact/send" method="post">
    <label for="email">Votre email</label>
    <input type="email" name="email"/>

    <label for="message">Votre demande</label>
    <textarea name="message"></textarea>

    <button type="submit">Envoyer</button>
</form>
