<form action="/save/article" method="post">
    <label>Titre</label>
    <input type="text" name="titre">
    <label>Slug</label>
    <input type="text" name="slug">
    <textarea name="contenu">
    </textarea>
    <input type="submit" name="submit">
</form>