<form action="/save/article" method="post">
    <label>Titre</label>
    <input type="text" name="title">
    <label>Slug</label>
    <input type="text" name="slug">
    <textarea name="content">
    </textarea>
    <input type="submit" name="submit">



</form>