<form action="/login" method="post">
    <label for="pseudo">Pseudo</label>
    <input type="text" name="pseudo" required>

    <label for="motDePasse">Mot de Passe</label>
    <input type="password" name="motDePasse" required>

    <input type="submit" name="submit" value="Se connecter">
</form>