<form action="/register" method="post">
    <label for="pseudo">Entrez votre pseudo</label>
    <input type="text" name="pseudo" required>

    <label for="email">Entrez votre email</label>
    <input type="email" name="email" required>

    <label for="motDePasse">Entrez votre mot de passe</label>
    <input type="password" name="motDePasse" required>

    <input type="submit" value="S'inscrire">
</form>