h2
{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
form
{
    margin: 15px 32px;
}

article
{
    padding-bottom: 100px;
    border-bottom: 1px solid #dee2e6
}

.container
{
    padding-top: 20px;
}